<%= simple_form_for [:admin, @category] do |f| %>
	<div class="group"><%= f.input :name %></div>
	<div class="group"><%= f.input :is_main_category %></div>
	<div class="group"><%= f.input :parent_category_id, :collection => Category.main_categories %></div>


	<%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

<% end %>
