<%= simple_form_for [:admin, @product] do |f| %>
	<div class="group"><%= f.input :title, placeholder: "请输入产品标题" %></div>
	<div class="group"><%= f.input :author, placeholder: "请输入产品作者" %></div>
	<div class="group"><%= f.input :description, placeholder: "请输入产品描述" %></div>
	<div class="group"><%= f.input :quantity, placeholder: "请输入产品数量" %></div>
	<div class="group"><%= f.input :price, placeholder: "请输入产品价格" %></div>
	<div class="group" id="main_categories"><%= f.input :category_id,
									:collection => @main_categories,
									label: "Main Category",
									prompt: "请选择产品所属主类",
									:remote => true %></div>
	<div class="group" id="sub_categories"><%= f.input :category_id,
									:collection => @subcategories,
									label: "Sub Category",
									prompt: "请选择产品所属子类",
									class: "sub_categories" %></div>

	<% if @product.photo.present? %>
		<span>目前商品图</span><br>
		<%= image_tag(@product.photo.thumb.url, class: "thumbnail") %>
    <% end %>

	<div class="group"><%= f.input :photo, as: :file %></div>
	<div class="group"><%= f.input :onsale %></div>

	<%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

<% end %>
