<div class="wrapper header-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render "common/my_carousel" %>
      </div>

      <div class="col-md-4">
        <a href="http://www.snugglebugz.ca/brand/a-b/applecheeks.html?dir=asc&amp;order=position&amp;utm_source=SM%20Feb7-2017&amp;utm_campaign=AC%20You%20Rock&amp;utm_medium=SM%20Feb7-2017"> <img alt="" src="https://www.snugglebugz.ca/media/wysiwyg/HP_AppleCheeks_YouRock_1.jpg"> </a>
        <a href="http://www.snugglebugz.ca/brand/j-k-l/kidco.html?dir=asc&amp;order=position&amp;utm_source=SM%202%20Feb15-2017&amp;utm_campaign=Kidco%20Safety&amp;utm_medium=SM%202%20Feb15-2017"> <img class="header-banner-right-2" alt="" src="https://www.snugglebugz.ca/media/wysiwyg/HP_Sm_KidcoSafety_1.jpg"> </a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper featured">
  <div class="container">
    <div class="row featured-title">
      <div class="col-md-12">
        <a href="#"><h1><span>精选商品</span></h1></a>
        <a href="#" class="category-link"><span>查看全部 &gt;</span></a>
      </div>
    </div>

    <div class="row products-container">
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="wrapper featured">
  <div class="container">
    <div class="row featured-title">
      <div class="col-md-12">
        <a href="#"><h1><span>精选商品</span></h1></a>
        <a href="#" class="category-link"><span>查看全部 &gt;</span></a>
      </div>
    </div>

    <div class="row products-container">
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- <div class="row">
  <% @products.each do |product| %>
	<div class="col-xs-6 col-md-3">
	  <%= link_to product_path(product) do %>
		  <% if product.photo.present? %>
			  <%= image_tag(product.photo.thumb.url, class: "thumbnail") %>
		  <% else %>
			  <%= image_tag("no-pic.png", class: "thumbnail") %>
		  <% end %>
	  <% end %>
	  <span><%= product.title %></span><br> ¥ <%= product.price %>
	</div>
  <% end %>
  <div class="clearfix"></div>
  <div class="text-center"><%= will_paginate @products, class: "apple_pagination" %></div>
</div> -->
