<div class="wrapper product-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb breadcrumb-jd">
					<li><a href="/">Home</a></li>
					<li><strong>得力（deli） 92621 黑马电子密码保管箱 双保险防盗 办公家用</strong></li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="product-view-box paddingleft">
					<!-- product-img-box -->
					<div class="product-img-box">
						<div class="product-img">
							<img src="http://www.snugglebugz.ca/media/catalog/product/cache/1/image/1064x/9df78eab33525d08d6e5fb8d27136e95/K/S/xKS-BK30-Superbib.jpg.pagespeed.ic.tvsFHbVTPV.webp" alt="" width="500px" height="500px">
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-6">
					<!-- product-shop -->
					<div class="product-shop">
						<div class="product-name">
								<span class="h1">得力（deli） 92621 黑马电子密码保管箱 双保险防盗 办公家用</span>
								<p class="category">类别： <a href="http://www.snugglebugz.ca/brand/a-b/bumkins.html">Bumkins</a></p>
						</div>
						<div class="product-sku">
								<span>&nbsp;</span>
						</div>

						<div class="product-price">
							<p>
								<span class="old-price">¥ 12.99</span>
								<span class="special-price">¥ 11.04</span>
							</p>
						</div>

						<div class="add-cart">
							<div id="choose-btns">
								<div class="choose-amount">
			                <input class="text buy-num" type="text" id="buy-num" value="1">
			                <a class="btn-reduce" id="btn-reduce" name="btn-reduce" href="#none">-</a>
			                <a class="btn-add" id="btn-add" name="add" href="#none">+</a>
								</div>
								<a href="#" class="btn btn-primary btn-lg btn-danger">加入购物车</a>
							</div>
						</div>


					</div>
					<!--  product-shop -->
			</div>

		</div>
	</div>
</div>



<!-- <div class="row">
	<div class="col-md-6">
	  <% if @product.photo.present? %>
		  <%= image_tag(@product.photo.medium.url, class: "thumbnail") %>
	  <% else %>
		  <%= image_tag("no-pic.png", class: "thumbnail") %>
	  <% end %>
	</div>

	<div class="col-md-6">
	  <h2><%= @product.title %></h2>
	  <div style="height:100px;">
		  <p><%= @product.description %></p>
	  </div>
	  <div>数量 ：<%= @product.quantity %></div>
	  <div class="product-price"> ¥ <%= @product.price %></div>
	  <div class="pull-right">
		  <% if @product.quantity.present? && @product.quantity > 0 %>
			<%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, :class => "btn btn-primary btn-lg btn-danger" ) %>
		  <% else %>
			<%= link_to("加入购物车", '#', :class => "btn btn-lg btn-danger disabled" ) %>
		  <% end %>
	  </div>

	</div>
</div> -->
