<li id="mycart" class="dropdown">
  <%= link_to carts_path do %>
    <i class="fa fa-shopping-cart red" aria-hidden="true"></i>
    购物车<span class="cart-badge"> <%= current_cart.products.count %></span>
  <% end %>

  <div class="cart-dropdown">
    <h4>新添加的商品</h4>
    <div class="clr"></div>
    <div id="cart-content">

      <% current_cart.cart_items.each do |cart_item| %>

      <div class="clr"></div>
      <div class="mcart-ci">
        <div class="ci_t">
          <div class="fl"><span>满减</span>购满199元，即可享受满减优惠
          </div>
          <div class="fr">小计：￥<%= render_cart_item_total_price(current_cart, cart_item) %></div>
          <div class="clr"></div>
        </div>

        <div class="ci_content">
          <div class="p-img fl">
            <%= link_to product_path(cart_item.product) do %>
              <% if cart_item.product.photos.present? %>
      				  <%= image_tag(cart_item.product.photos[0].avatar.thumb.url, style: "width: 50px; height: 50px;") %>
      			  <% else %>
      				  <%= image_tag("no-pic.png", style: "width: 50px; height: 50px;") %>
      			  <% end %>
            <% end %>
            </a>
          </div>
          <div class="p-name fl"><%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
          </div>
          <div class="p-detail fr">
            <span class="p-price">
              <strong>¥ <%= cart_item.product.price %></strong>
              x<%= cart_item.quantity %>
            </span>
            <br>
            <%= link_to cart_item_path(cart_item.product_id), method: :delete,
                    data: { confirm: "确定要将此商品从购物车中删除吗？"} do %>
    				  <i class="fa fa-trash"></i>
    			  <% end %>
            <!-- <a href="#" class="delete">删除</a> -->
          </div>
        </div>
      </div>

      <% end %>

      <div class="clr"></div>



  </div>
  <div class="cart-footer">
    <div class="p-total">
      共 <b><%= current_cart.products.count %></b> 件商品 共计
      <strong>¥ <%= render_cart_total_price(current_cart) %></strong>
    </div>
    <%= link_to "去购物车", carts_path %>

    <!-- <a href="#">去购物车</a> -->

  </div>

</li>
